<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataTrackerWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DataTrackerWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DataTrackerWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA0C25CB1F9005670000E81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0C25DF1F9005680000E81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0C25EA1F9005680000E81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4277491F93E2FA004CC63E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB0A5B81F99356700CDCC01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
